body {
    background: #2B2B2B;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
}

input {
    text-decoration: none;
    outline: none;
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.12);
    padding: 0 8px;
    height: 28px;
    color: #FFF;
    display: inline-block;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    margin: 1px;
}

input:hover {
    background-color:#4d4a4a;
}

select {
    text-decoration: none;
    border-radius: 1px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.12);
    color: #FFF;
    padding: 0 8px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 28px;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

select:hover {
    background-color:#4d4a4a;
}

h1 {
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

label {
    font-style: italic;
    margin-bottom: 2px;
}
